<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darklar7.mybatis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.darklar7.mybatis.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>

  <sql id="Base_Column_List">
    r.id, role
  </sql>

  <sql id="LEFT_JOIN_User_Roles">
    LEFT JOIN  user_roles ur on r.id = ur.role_id
  </sql>

  <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM role r
    <include refid="LEFT_JOIN_User_Roles"/>
    WHERE ur.user_id = #{userid,jdbcType=BIGINT}
  </select>
</mapper>